* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Universal Sans Text", -apple-system, Arial, sans-serif;
}

.container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-side-navbar {
  width: 150px;
}

.center-side-navbar-parent-element {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.center-side-navbar-element a {
  text-decoration: none;
  color: #393c41;
  font-size: 14px;
  font-weight: 600;
}

.right-side-navbar {
  display: flex;
  gap: 5px;
}

.right-side-navbar img {
  height: 24px;
}
